/* Base CSS Codes Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: black;
    min-height: 400px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
/* Base CSS Codes End */

/* Header CSS Codes Start */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:8em;
    border-bottom: 1px rgba(255, 255, 255, 0.429) solid;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 2.5em;
}
.menu {
    display: flex;
    column-gap: 3em;
    align-items: center;
}
.menu ul {
    display: flex;
    column-gap: 2em;
}
.menu ul li {
    list-style: none;
}
.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;

}
.menu ul li a:hover {
    color: #0ba2c0;;
}
.menu .menu-button a {
    color: #0ba2c0;;
    text-decoration: none;
    font-size: 2em;

}
.menu .menu-button {
    background-color: rgba(255,255,255,0.08);
    padding: .4em;
    border-radius: .4em;
    border: 1px white solid;
}
.menu .menu-button:hover {
    background-color: #fff;
    border: 1px black solid;
    transition: .5s;
}
/* Header CSS Codes End */
/* Section CSS Codes Start */
.content {
    color: white;
    height: 100%;
    padding: 6rem 0;
    text-align: center;
}
.content h1 {
    font-size: 4rem;
    margin: 2rem;
}
.content p {
    font-size: 1.5rem;
    margin: 2rem;
}
.section-buttons {
    display: flex;
    justify-content: center;
    column-gap: 3rem ;
}
.section-buttons a {
    background-color: rgba(220, 220, 220, 0.467);
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    width: 15rem;
    font-size: 1.5em;
    
}
.section-buttons a:hover {
   background-color: #fff;
   color: black;
   transition: .5s;
}
/* Section CSS Codes End */

/* Responsive CSS Codes Start */
@media (max-width: 724px) {
    .menu .menu-button {
display: none; }
    .container {
        width: 100%;
        /* margin: 0 2em; */
    }
    .container nav {
        height: 6em;
        padding: 2em;
    }
    .container .logo a{
        font-size: 2em ;
    }
    .container .menu ul li a {
        font-size: 1em;
    }
    
    .content {
        padding: 3rem 0;
    }
    .content h1 {
        font-size: 2rem;
        margin: 1rem;
    }
    .content p {
        font-size: 1rem;
        margin: 1rem;
    }
    .section-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* Responsive CSS Codes End */